// bower:scss
// endbower
@font-face {
  font-family: "Proxima Nova";
  font-weight: 400;
  src: url('../fonts/Proxima400.otf');
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 100;
  src: url('../fonts/Proxima100.otf');
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 300;
  src: url('../fonts/Proxima300.otf');
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 600;
  src: url('../fonts/Proxima600.otf');
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 700;
  src: url('../fonts/Proxima700.otf');
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 800;
  src: url('../fonts/Proxima800.otf');
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 900;
  src: url('../fonts/Proxima900.otf');
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: "Proxima Nova", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}

.a-top {
  display: block;
  padding: 30px 0 115px;
  background-color: rgba(0, 0, 0, 0.7);
  &_bg {
    background: url('../images/top_bg.jpg') no-repeat center;
    background-size: cover;
  }
  &__title {
    display: block;
    width: 100%;
    max-width: 860px;
    margin: 135px auto 75px auto;
    color: #ffffff;
    font-size: 40px;
    font-weight: 300;
    line-height: 1.2;
    font-weight: 300;
    text-align: center;
    b,
    strong {
      font-weight: 700;
    }
  }
  &__text {
    display: block;
    width: 100%;
    max-width: 565px;
    min-height: 74px;
    margin: 0 auto 45px auto;
    color: #ffa902;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.55;
    text-align: center;
  }
  &__button {
    display: block;
    position: relative;
    width: 100%;
    max-width: 285px;
    margin: 0 auto;
    padding: 14px 60px 14px 20px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background-color: #ffa902;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    &:after {
      display: block;
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      width: 54px;
      height: 100%;
      border-radius: 0 5px 5px 0;
      background: #ffb72b url('../images/icon_down.png') no-repeat center;
      text-align: center;
      z-index: 1;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
      color: #ffffff;
    }
  }
}

.a-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  &__logo {
    display: inline-block;
    max-width: 100%;
  }
  &__search {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 300px;
     ::-webkit-input-placeholder {
      color: #ffffff;
    }
     ::-moz-placeholder {
      color: #ffffff;
    }
    /* Firefox 19+ */
     :-moz-placeholder {
      color: #ffffff;
    }
    /* Firefox 18- */
     :-ms-input-placeholder {
      color: #ffffff;
    }
    input {
      display: block;
      width: 100%;
      padding: 12px 50px 12px 30px;
      border-radius: 5px;
      border: 0;
      outline: 0;
      border: 1px solid #ffffff;
      opacity: 0.4;
      background-color: #000000;
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
    }
  }
  &__button {
    display: block;
    position: absolute;
    right: 30px;
    top: 50%;
    margin-top: -9px;
    width: 18px;
    height: 18px;
    border: 0;
    outline: 0;
    background: transparent;
    img {
      display: block;
      width: 18px;
      height: 18px;
      object-fit: contain;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
    }
  }
}

.a-features {
  display: block;
  padding: 95px 0 60px 0;
  background: #ffffff;
  &__title {
    display: block;
    margin: 0 auto 60px auto;
    color: #000000;
    font-size: 30px;
    font-weight: 300;
    font-weight: 300;
    text-align: center;
    b,
    strong {
      font-weight: 700;
    }
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 275px;
    margin-bottom: 30px;
    &-image {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      width: 100%;
      height: 100px;
      img {
        display: block;
        max-width: 100%;
      }
    }
    &-title {
      display: block;
      width: 100%;
      min-height: 46px;
      margin: 30px 0 10px 0;
      color: #000000;
      font-size: 18px;
      font-weight: 700;
      line-height: 1.33;
    }
    &-text {
      display: block;
      margin: 0;
      color: #000000;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
    }
  }
}

.a-about {
  display: block;
  padding: 95px 0 65px 0;
  background: url('../images/about_bg.jpg') no-repeat center;
  background-size: cover;
  &__title {
    display: block;
    margin: 0 auto 95px auto;
    color: #ffffff;
    font-size: 30px;
    font-weight: 300;
    font-weight: 300;
    text-align: center;
    b,
    strong {
      font-weight: 700;
    }
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__card {
    display: inline-block;
    width: 100%;
    max-width: 220px;
    margin-bottom: 30px;
    &-number {
      display: block;
      margin: 0 0 10px 0;
      color: #ffa902;
      font-size: 51px;
      font-weight: 700;
    }
    &-text {
      display: block;
      margin: 0;
      color: #ffffff;
      font-size: 24px;
      font-weight: 300;
      line-height: 1.25;
    }
  }
}

.a-companies {
  display: block;
  padding: 20px 0;
  background-color: #f0f0f0;
  &__cards {
    display: block;
    .slick-next,
    .slick-prev {
      &:before {
        display: none;
      }
      width: 9px;
      height: 18px;
      top: 40%;
      bottom: auto;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      transform: none;
      z-index: 1;
      cursor: pointer;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        opacity: 0.8;
        text-decoration: none;
      }
    }
    .slick-next {
      right: 0;
      margin-right: -40px;
      background-image: url('../images/icon_slick_next.png');
    }
    .slick-prev {
      left: 0;
      margin-left: -40px;
      background-image: url('../images/icon_slick_prev.png');
    }
    .item {
      margin: 0 auto;
    }
  }
  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 170px;
    height: 85px;
    margin: 0 auto;
    border-radius: 3px;
    border: 1px solid #f1f1f1;
    background-color: #ffffff;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.a-rate {
  display: block;
  padding: 90px 0 120px 0;
  background: #ffffff;
  &__blur {
    display: block;
    width: 100%;
    position: relative;
    color: transparent !important;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
      &:before {
        border-color: #3ea312;
        color: #3ea312;
        text-decoration: none;
      }
    }
    &:before {
      display: block;
      position: absolute;
      content: attr(data-title);
      left: 0;
      top: 0;
      border-bottom: 1px solid transparent;
      color: #3ea312;
      font-size: 15px;
      font-weight: 400;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
    }
  }
  &__title {
    display: block;
    margin: 0 0 18px;
    color: #000000;
    font-size: 30px;
    font-weight: 300;
    font-weight: 300;
    b,
    strong {
      font-weight: 700;
    }
  }
  &__links {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 55px;
  }
  &__link {
    display: inline-block;
    margin: 0 0 12px 0;
    border-bottom: 2px solid #ffefcf;
    color: #ffa902;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      border-color: transparent;
      color: #ffa902;
      text-decoration: none;
    }
  }
  &__text {
    display: block;
    margin: 0 0 48px 0;
    color: #000000;
    font-size: 15px;
    font-weight: 300;
  }
  &__table {
    margin-bottom: 55px;
    background-color: #f7f7f7;
    &>thead {
      background-color: #e9e9e9;
      &>tr>th {
        padding: 16px;
        border-bottom: 1px solid #ffffff;
        border-right: 1px solid #ffffff;
        color: #000000;
        font-size: 16px;
        font-weight: 600;
      }
    }
    &>tbody>tr>td {
      padding: 14px 18px;
      border-bottom: 1px solid #ffffff;
      border-right: 1px solid #ffffff;
      color: #000000;
      font-size: 16px;
      font-weight: 300;
    }
    &_number {
      color: #585858 !important;
      font-weight: 700 !important;
      &_red {
        color: #d54f35 !important;
      }
      &_yellow {
        color: #f9af12 !important;
      }
      &_green {
        color: #1c9024 !important;
      }
    }
  }
}

.a-advices {
  display: block;
  position: relative;
  background: #ffffff;
  &:before {
    display: block;
    position: absolute;
    content: '';
    width: 300px;
    height: 169px;
    bottom: 100%;
    right: 0;
    margin-right: -50px;
    background: url('../images/rate_spec.png') no-repeat center;
  }
  &__title {
    display: block;
    margin: 0;
    opacity: 0.49;
    color: #000000;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__cards {
    display: block;
    width: 100%;
    max-width: 370px;
  }
  &__card {
    display: block;
    width: 100%;
    margin-bottom: 4px;
    box-shadow: 0 5px 13px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    &-header {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      padding: 15px 22px;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        opacity: 0.8;
      }
    }
    &-title {
      display: inline-block;
      width: 100%;
      max-width: 265px;
      margin: 0;
      color: #000000;
      font-size: 16px;
      font-weight: 500;
    }
    &-icon {
      display: inline-block;
      width: 27px;
      height: 27px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url('../images/icon_collapse.png');
      transition: all 0.2s ease-out;
      &_closed {
        background-image: url('../images/icon_collapsed.png');
        transition: all 0.2s ease-out;
      }
    }
    &-content {
      display: none;
      padding: 20px 22px 40px 20px;
      opacity: 0.75;
      color: #000000;
      font-size: 16px;
      font-weight: 300;
      p {
        margin: 0 0 10px 0;
        line-height: 1.35;
      }
    }
  }
}

.a-steps {
  display: block;
  position: relative;
  padding: 90px 0 100px 0;
  background: url('../images/steps_bg.jpg') no-repeat center;
  background-size: cover;
  &__flex {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  &__thx {
    display: none;
    &-title {
      display: block;
      margin: 0 0 40px 0;
      color: #ffffff;
      font-size: 60px;
      font-weight: 300;
      text-align: center;
    }
    &-text {
      display: block;
      margin: 0;
      color: #ffffff;
      font-size: 30px;
      font-weight: 300;
      text-align: center;
    }
  }
  &_handed {
    &:after {
      display: block;
      position: absolute;
      content: '';
      width: 67px;
      height: 84px;
      left: 50%;
      bottom: 0;
      margin-left: -33px;
      background: url('../images/icon_hand.png') no-repeat center;
      background-size: contain;
    }
  }
  &__title {
    display: block;
    margin-bottom: 48px;
    color: #ffffff;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
  }
  &__button {
    display: inline-block;
    padding: 15px 50px;
    border: 0;
    outline: 0;
    border-radius: 999rem;
    background-color: #ed433e;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      color: #ffffff;
      text-decoration: none;
    }
  }
  .tab-controls {
    width: 0px;
    height: 0px;
    overflow: hidden !important;
  }
  [class^='tab-item-'] {
    &:not(:first-of-type) {
      display: none;
    }
  }
}

.a-stepper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 500px;
  &__wrapper {
    display: none;
    width: 100%;
  }
  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 230px;
  }
  &__number {
    display: block;
    margin: 0 0 22px 0;
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    text-align: center;
  }
  &__title {
    display: block;
    margin: 0 0 0 0;
    color: #ffffff;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
  }
  &__buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    width: 100%;
  }
  &__close {
    display: inline-block;
    width: 100%;
    max-width: 185px;
    margin-right: 18px;
    padding: 16px 40px;
    border-radius: 5px;
    border: 1px solid #f9f3eb;
    background-color: transparent;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__next {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 185px;
    padding: 14px 60px 14px 44px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background-color: #d54f35;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    &:after {
      display: block;
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      width: 54px;
      height: 100%;
      border-radius: 0 5px 5px 0;
      background: #e76a52 url('../images/icon_right.png') no-repeat center;
      text-align: center;
      z-index: 1;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    input {
      display: none;
    }
    [type="radio"]:checked+label:before {
      display: block;
      position: absolute;
      content: '';
      width: 24px;
      height: 24px;
      top: 15px;
      right: 15px;
      background: url('../images/icon_selected.png') no-repeat center;
      background-size: contain;
      z-index: 1;
    }
    label:hover {
      box-shadow: inset 0 0 0 6px #d54f35;
    }
    label:hover {
      box-shadow: inset 0 0 0 6px #d54f35;
    }
    [type="radio"]:checked+label {
      box-shadow: inset 0 0 0 6px #d54f35;
    }
    [type="checkbox"]:checked+label {
      box-shadow: inset 0 0 0 6px #d54f35;
    }
    [type="checkbox"]:checked+label:before {
      display: block;
      position: absolute;
      content: '';
      width: 24px;
      height: 24px;
      top: 15px;
      right: 15px;
      background: url('../images/icon_selected.png') no-repeat center;
      background-size: contain;
      z-index: 1;
    }
  }
  &__card {
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
    width: 170px;
    height: 190px;
    margin: 0 5px 5px 5px;
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    &-title {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 4px 4px 24px 4px;
      overflow: hidden;
      border-radius: 5px;
      background-color: rgba(0, 0, 0, 0);
      color: #ffffff;
      font-size: 16px;
      font-weight: 300;
      text-align: center;
    }
  }
  &__types {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    max-width: 465px;
    input {
      display: none;
    }
    [type="radio"]:checked+label:before {
      display: block;
      position: absolute;
      content: '';
      width: 24px;
      height: 24px;
      top: 10px;
      right: 10px;
      background: url('../images/icon_selected.png') no-repeat center;
      background-size: contain;
      z-index: 1;
    }
  }
  &__type {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 108px;
    margin-bottom: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    cursor: pointer;
    &-image {
      display: block;
      width: 100%;
      height: 108px;
      margin-bottom: 10px;
      box-shadow: 0 18px 21px rgba(0, 0, 0, 0.05);
      border-radius: 5px;
      background-color: #ffffff;
      object-fit: contain;
    }
    &-title {
      display: block;
      margin: 0;
      color: #000000;
      font-size: 14px;
      font-weight: 400;
      text-align: center;
    }
  }
  &__sizes {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    max-width: 480px;
    .row {
      width: 100%;
    }
    input {
      display: none;
    }
    [type="radio"]:not(:checked)+label:before {
      display: block;
      position: absolute;
      content: '';
      width: 19px;
      height: 19px;
      top: 0;
      left: 0;
      background: url('../images/icon_check.png') no-repeat center;
      background-size: contain;
      z-index: 1;
    }
    [type="radio"]:checked+label:before {
      display: block;
      position: absolute;
      content: '';
      width: 19px;
      height: 19px;
      top: 0;
      left: 0;
      background: url('../images/icon_checked.png') no-repeat center;
      background-size: contain;
      z-index: 1;
    }
  }
  &__size {
    display: block;
    position: relative;
    margin-bottom: 14px;
    padding-left: 38px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
  }
  &__input {
    display: block;
    width: 100%;
    max-width: 590px;
    padding: 22px 24px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background-color: #ededed;
    color: #000000;
    font-size: 18px;
    font-weight: 700;
  }
}

.a-form-table {
  margin: 0 auto;
  background-color: #f7f7f7;
  &__button {
    display: inline-flex;
    width: 60px;
    min-height: 52px;
    padding: 14px;
    border: 0;
    outline: 0;
    background: #e76a52 url('../images/icon_right.png') no-repeat center;
    text-decoration: none;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &>thead {
    background-color: #e9e9e9;
    &>tr>th {
      padding: 8px 14px;
      border-bottom: 1px solid #ffa902;
      border-right: 1px solid #ffa902;
      color: #000000;
      font-size: 16px;
      font-weight: 600;
      text-align: center;
    }
  }
  &>tbody>tr>td {
    padding: 4px 14px;
    border-bottom: 1px solid #ffa902;
    border-right: 1px solid #ffa902;
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
  }
  &__stars {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-bottom: 6px;
  }
  &__votes {
    display: block;
    color: #000000;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
  }
  &__percent {
    display: block;
    margin-bottom: 0;
    color: #000000;
    font-size: 16px;
    font-weight: 700 !important;
  }
  &__link {
    display: inline-block;
    border-bottom: 1px solid #3ea312;
    color: #3ea312;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      border-color: transparent;
      color: #3ea312;
      text-decoration: none;
    }
  }
  &__phone {
    display: flex;
    align-items: stretch;
    width: 100%;
    max-width: 230px;
    input {
      display: inline-block;
      flex: 1 1 auto;
      padding: 12px 20px;
      border: 0;
      outline: 0;
      box-shadow: inset 3px 0 4px rgba(0, 0, 0, 0.17);
      background-color: #f7f7f7;
      color: #000000;
      font-size: 14px;
      font-weight: 300;
    }
    button {
      display: inline-flex;
      width: 60px;
      min-height: 52px;
      padding: 14px;
      border: 0;
      outline: 0;
      background: #e76a52 url('../images/icon_right.png') no-repeat center;
      text-decoration: none;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        opacity: 0.8;
        text-decoration: none;
      }
    }
  }
  &_number {
    color: #585858 !important;
    font-weight: 700 !important;
    &_red {
      color: #d54f35 !important;
    }
    &_yellow {
      color: #f9af12 !important;
    }
    &_green {
      color: #1c9024 !important;
    }
  }
}

.not-active {
  opacity: 0.5;
  pointer-events: none !important;
  cursor: default !important;
  text-decoration: none;
}

.h-w-100 {
  width: 100%;
}

.a-steps {
  display: block;
  position: relative;
  padding: 95px 0 160px 0;
  background-color: #ffa902;
  &__combo {
    display: block;
    width: 100%;
  }
  &__thx {
    display: none;
    &-title {
      display: block;
      margin: 0 0 40px 0;
      color: #ffffff;
      font-size: 60px;
      font-weight: 300;
      text-align: center;
    }
    &-text {
      display: block;
      margin: 0;
      color: #ffffff;
      font-size: 30px;
      font-weight: 300;
      text-align: center;
    }
  }
  &:before {
    display: block;
    position: absolute;
    content: '';
    width: 611px;
    height: 288px;
    left: 0;
    top: 0;
    margin-top: -185px;
    background: url('../images/choose_spec.png') no-repeat center;
    background-size: contain;
  }
  &:after {
    display: block;
    position: absolute;
    content: '';
    width: 613px;
    height: 288px;
    right: 0;
    bottom: 0;
    margin-bottom: -125px;
    background: url('../images/choose_spec_2.png') no-repeat center;
    background-size: contain;
  }
  &__sub-title {
    display: block;
    margin: 0 auto 10px auto;
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    text-align: center;
  }
  &__title {
    display: block;
    width: 100%;
    max-width: 760px;
    margin: 0 auto 60px auto;
    color: #ffffff;
    font-size: 30px;
    font-weight: 300;
    line-height: 1.33;
    font-weight: 300;
    text-align: center;
    b,
    strong {
      font-weight: 700;
    }
  }
  &__button {
    display: block;
    position: relative;
    width: 100%;
    max-width: 285px;
    margin: 0 auto;
    padding: 14px 60px 14px 20px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background-color: #d54f35;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    &:after {
      display: block;
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      width: 54px;
      height: 100%;
      border-radius: 0 5px 5px 0;
      background: #e76a52 url('../images/icon_right.png') no-repeat center;
      text-align: center;
      z-index: 1;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      color: #ffffff;
    }
  }
}

.a-choose {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  max-width: 865px;
  margin: 0 auto 50px auto;
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 268px;
    min-height: 298px;
    margin-bottom: 25px;
    padding: 32px 18px 32px 28px;
    border-radius: 6px;
    background-position: center;
    background-size: cover;
    &-number {
      display: block;
      margin: 0;
      color: #f1a81c;
      font-size: 38px;
      font-weight: 700;
    }
    &-title {
      display: block;
      margin: 0;
      color: #feffff;
      font-size: 23px;
      font-weight: 400;
    }
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
      color: #ffffff;
    }
  }
}

.a-get {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 820px;
  margin: 60px auto 35px auto;
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    max-width: 268px;
    min-height: 298px;
    padding: 30px 15px;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
    &-title {
      display: block;
      margin: 0;
      color: #ffffff;
      font-size: 23px;
      font-weight: 400;
      text-align: center;
    }
    &_left {
      margin-right: -20px;
    }
    &_right {
      margin-left: -20px;
    }
    &_main {
      position: relative;
      min-height: 362px;
      padding-bottom: 50px;
      box-shadow: 0 26px 70px rgba(82, 82, 82, 0.29);
      background-color: #ffffff;
      &:before {
        display: block;
        position: absolute;
        content: '';
        width: 212px;
        height: 227px;
        right: 20px;
        top: 0;
        margin-top: -34px;
        background: url('../images/get_before.png') no-repeat center;
        background-size: contain;
      }
      .a-get__card-title {
        color: #010101;
      }
    }
  }
}

.a-reviews {
  display: block;
  padding: 90px 0 95px 0;
  background: url('../images/reviews_bg.jpg') no-repeat right center;
  background-size: cover;
  &__title {
    display: block;
    margin: 0 auto 70px auto;
    color: #000000;
    font-size: 30px;
    font-weight: 300;
    line-height: 1.33;
    font-weight: 300;
    text-align: center;
    b,
    strong {
      font-weight: 700;
    }
  }
  &__solo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 95px;
  }
  &__slick {
    display: block;
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
    .slick-next,
    .slick-prev {
      &:before {
        display: none;
      }
      width: 17px;
      height: 32px;
      top: 40%;
      bottom: auto;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      transform: none;
      z-index: 1;
      cursor: pointer;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        opacity: 0.8;
        text-decoration: none;
      }
    }
    .slick-next {
      right: 0;
      margin-right: -40px;
      background-image: url('../images/icon_slick_next_big.png');
    }
    .slick-prev {
      left: 0;
      margin-left: -40px;
      background-image: url('../images/icon_slick_prev_big.png');
    }
    .item {
      margin: 0 auto;
    }
  }
  &__card {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 860px;
    &-image {
      display: inline-block;
      width: 195px;
      height: 180px;
      margin-right: 45px;
      border-radius: 5px;
      object-fit: cover;
    }
    &-thing {
      display: block;
      margin: 0 0 15px 0;
      color: #6a6a6a;
      font-size: 18px !important;
      font-weight: 400;
      font-style: italic;
    }
    &-content {
      display: inline-block;
      flex: 1 1 auto;
      color: #000000;
      font-size: 16px;
      font-weight: 300;
      p {
        display: block;
        max-height: 145px;
        margin-bottom: 18px;
        overflow: hidden;
        opacity: 0.73;
        color: #000000;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.38;
      }
    }
    &-author {
      display: block;
      margin: 0;
      color: #000000;
      font-size: 18px;
      font-weight: 700;
    }
    &-player {
      display: block;
      width: 100%;
      audio {
        width: 100%;
      }
    }
  }
}

.a-footer {
  display: block;
  padding: 20px 0;
  background-color: #3e3e3e;
  &>.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__button {
    display: block;
    position: relative;
    width: 100%;
    max-width: 285px;
    padding: 14px 60px 14px 20px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background-color: #ffa902;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    &:after {
      display: block;
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      width: 54px;
      height: 100%;
      border-radius: 0 5px 5px 0;
      background: #ffb72b url('../images/icon_right.png') no-repeat center;
      text-align: center;
      z-index: 1;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
      color: #ffffff;
    }
  }
}

.mb_YTPlayer {
  background: url('../images/top_bg.jpg');
  background-size: cover;
}

.a-getting {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 1000px;
  margin: 20px auto 35px auto;
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 220px;
    margin-bottom: 20px;
    text-align: center;
    &-image {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: center;
      width: 150px;
      height: 125px;
      margin-bottom: 15px;
      img {
        display: block;
        max-width: 100%;
      }
    }
    &-title {
      display: block;
      margin: 0;
      color: #000000;
      font-size: 18px;
      font-weight: 300;
    }
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1199px) {
  .a-top {
    padding: 15px 0 30px 0;
  }
  .a-header {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  .a-header__logo {
    margin-bottom: 10px;
  }
  .a-top__title {
    margin: 30px auto;
    font-size: 32px;
  }
  .a-top__text {
    margin-bottom: 20px;
    font-size: 22px;
  }
  .a-features {
    padding: 30px 0;
  }
  .a-features__title {
    margin-bottom: 20px;
  }
  .a-features__cards {
    justify-content: space-around;
  }
  .a-features__card-title {
    min-height: auto;
    margin-top: 15px;
  }
  .a-about {
    padding: 30px 0;
  }
  .a-about__title {
    margin-bottom: 20px;
  }
  .a-about__cards {
    justify-content: space-around;
  }
  .a-about__card {
    margin-bottom: 30px;
    text-align: center;
  }
  .a-about__card-number {
    margin: 0;
    font-size: 32px;
  }
  .a-companies__cards .slick-next {
    margin-right: 0;
  }
  .a-companies__cards .slick-prev {
    margin-left: 0;
  }
  .a-rate {
    padding: 30px 0;
  }
  .a-rate__title {
    margin-bottom: 5px;
  }
  .a-rate__text {
    margin-bottom: 20px;
  }
  .a-advices:before {
    display: none;
  }
  .a-rate__links {
    margin: 20px 0;
  }
  .a-steps:before {
    display: none;
  }
  .a-steps:after {
    display: none;
  }
  .a-steps {
    padding: 30px 0;
  }
  .a-steps__title {
    margin-bottom: 20px;
  }
  .a-choose {
    justify-content: space-around;
    margin: 0;
  }
  .a-choose__card {
    min-height: 200px;
    padding: 20px;
  }
  .a-get {
    justify-content: space-around;
    align-items: flex-start;
    margin: 0;
  }
  .a-get__card {
    margin-bottom: 20px;
  }
  .a-get__card_left {
    margin-right: 0;
  }
  .a-get__card_right {
    margin-left: 0;
  }
  .a-reviews {
    padding: 30px 0;
  }
  .a-reviews__title {
    margin-bottom: 20px;
  }
  .a-reviews__card {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .a-reviews__card-image {
    display: block;
    width: 100%;
    max-width: 195px;
    margin: 0 auto 10px auto;
  }
  .a-reviews__solo {
    margin-bottom: 20px;
  }
  .a-reviews__card-content {
    display: block;
    width: 100%;
  }
  .a-reviews__slick .slick-next {
    margin-right: 0;
  }
  .a-reviews__slick .slick-prev {
    margin-left: 0;
  }
  .a-reviews__slick .slick-next,
  .a-reviews__slick .slick-prev {
    top: 30%;
  }
  .a-stepper__number {
    margin-bottom: 10px;
  }
  .a-stepper__title {
    margin-bottom: 16px;
  }
  .a-stepper__close {
    margin: 0 auto 6px auto;
  }
  .a-stepper__types {
    justify-content: space-around;
  }
  .a-stepper__buttons {
    margin-top: 16px;
  }
  .a-stepper {
    min-height: auto;
  }
  .a-top {
    background: url('../images/top_bg.jpg') no-repeat center !important;
    background-size: cover;
  }
  .a-top__text {
    min-height: 102px;
  }
  .a-footer>.container {
    justify-content: space-around;
    .a-footer__logo {
      margin-bottom: 14px;
    }
  }
  .a-getting {
    justify-content: space-around;
  }
}

@media (max-width: 991px) {}

@media (max-width: 767px) {}